:root {
  --color-selected: hsl(172, 67%, 45%);
  --color-btns: hsl(183, 100%, 15%);
  --color-text: hsl(186, 14%, 43%);
  --color-text-2: hsl(184, 14%, 56%);
  --color-logo-background: hsl(185, 41%, 84%);
  --color-input-background: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}
body {
  font-family: 'Space Mono', monospace;
}

.main {
  background-color: var(--color-logo-background);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  padding: 2.5rem;
}

.calculator-container {
  background-color: var(--color-white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bill-container,
.people-container {
  position: relative;
  margin-bottom: 6rem;
}

.bill-title,
.people-title {
  padding: 2rem 3.5rem 0.3rem 3.5rem;
}

.bill-title,
.tip-title,
.people-title {
  font-size: 1.4rem;
  color: var(--color-text);
}

.bill-input,
.people-input {
  /* margin-left: 3rem; */
  width: 80%;
  height: 4rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--color-input-background);
  border: none;
  border-radius: 4px;
  color: var(--color-btns);
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
  font-family: inherit;
  padding: 0 1.5rem 0;
}

.bill-input:focus,
.people-input:focus,
.custom:focus {
  outline: 2.2px solid var(--color-selected);
}

.dollar-sign,
.person-sign {
  position: absolute;
  left: 5rem;
  top: 5.5rem;
  z-index: 1000;
}

.tip-container {
  width: 80%;
  position: relative;
  display: block;
  margin: 0 auto;
}

.tip-title {
  padding-top: 0;
  margin-bottom: 0.5rem;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0 1.5rem;
}

.tip-btn {
  width: 100%;
  padding: 0.6rem;
  margin: 0.7rem 0;
  border-radius: 5px;
  border: none;
  background-color: var(--color-btns);
  color: var(--color-white);
  font-weight: 700;
  font-family: inherit;
  font-size: 1.8rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
}

.tip-btn:hover:not(:last-child),
.tip-btn:focus:not(:last-child) {
  background-color: var(--color-logo-background);
  color: var(--color-btns);
}

.btn-container > .tip-btn {
  flex: 40%;
}

.custom {
  color: var(--color-text);
  background-color: var(--color-input-background);
  text-align: right;
  outline: none;
  cursor: text;
  padding-right: 1.5rem;
}

::placeholder {
  color: var(--color-text);
  opacity: 1;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

:-ms-input-placeholder {
 color: var(--color-text);
}

::-ms-input-placeholder {
 color: var(--color-text);
}

.payment-container {
  width: 82%;
  margin: 2rem auto;
  background-color: var(--color-btns);
  border-radius: 10px;
}

.payment-text-tip:first-of-type {
  /* container of line one */
  padding-top: 3rem;
}

.payment-text-tip:last-of-type {
  padding-bottom: 1rem;
}

.payment-text-tip {
  display: table;
  width: 90%;
}

.big-payment-title {
  /* span */
  display: table-cell;
}

.amount-to-pay {
  /* span of pay amount  */
  display: table-cell;
  text-align: right;
  vertical-align: top;
}

.big-tip-amount {
  /* h1 tip amount */
  font-size: 1.2rem;
  color: var(--color-white);
  /* padding: 3rem 2rem 0 2rem; */
  padding: 0 2rem 0 2rem;
}

.small-tip-amount {
  /* h2 tip amount  */
  font-size: 1rem;
  color: var(--color-text-2);
  padding: 0 2rem 2rem 2rem;
}


.tip-total-to-pay {
  /* p of total to pay  */
  color: var(--color-selected);
  font-size: 2.5rem;
}

.reset-btn-container {
  text-align: center;
  padding-bottom: 2rem;
}

.reset-btn {
  text-transform: uppercase;
  background-color: var(--color-selected);
  border: none;
  padding: 1rem 2rem;
  width: 85%;
  border-radius: 5px;
  font-family: inherit;
  color: var(--color-btns);
  font-size: 1.5rem;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: var(--color-logo-background);
}

.target-btn {
  background-color: var(--color-logo-background);
  color: var(--color-btns);
}

@media only screen and (min-width: 480px) {
  body {
    background-color: var(--color-logo-background);
  }

  .calculator-container {
    width: 70%;
    margin: auto;
    height: 85vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .payment-container {
    width: 80%;
  }

  .dollar-sign,
  .person-sign {
    left: 6rem;
  }
}

@media only screen and (min-width: 768px) {
  .logo-container {
    margin: 4rem 0;
  }

  .calculator-container {
    width: 70%;
    max-height: 55vh;
    min-height: 355px;
    display: flex;
    margin-bottom: 5rem;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    min-height: 325px;
    justify-content: center;
    padding: 3rem 1rem 3rem 0
  }

  .btn-container {
    gap: 0 1rem;
  }

  .btn-container > .tip-btn {
    flex: 30%;
  }

  .payment-container {
    margin: 3rem 2rem 3rem 0;
    display: flex;
    flex-direction: column;
  }

  .payment-text-tip:first-of-type {
    padding: 4rem 1rem 1rem 1rem
  }

  .payment-text-tip:nth-child(2) {
    padding: 0 1rem 4rem 1rem;
    margin-bottom: auto;
    flex-grow: 1;
  }

  .reset-btn-container {
    margin-top: auto;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 1040px) {
  .calculator-container {
    width: 60%;
  }

  .input-container {
    width: 110%;
  }

  .bill-container {
    margin-bottom: 7rem;
  }

  .bill-title {
    /* padding: 0 0 2rem 6rem; */
    margin-left: 2rem;
  }

  .dollar-sign,
  .person-sign {
    left: 7rem;
  }

  .btn-container {
    gap: 0.5rem 1.5rem
  }

  .tip-btn {
    padding: 1rem;
  }

  .people-title {
    margin-left: 2rem;
  }

  .payment-text-tip:first-of-type {
    padding-bottom: 3rem;
  }

  .amount-to-pay,
  .tip-total-to-pay {
    font-size: 3rem;
  }

  .big-tip-amount {
    font-size: 1.3rem;
  }

  .small-tip-amount {
    font-size: 1.1rem;
  }
}